/* Choice Buttons */
#choice-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
}

/* Results */
#result {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

/* Vertical Divider between Player and Computer */
#result .divider {
    height: 100%;
    width: 2px;
}

.player-side, .computer-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-choice, #computer-choice {
    width: 120px;
    min-height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 2rem;
}

/* Player Stats */
.player-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Tablet Sizes */

@media only screen and (min-width: 600px) {
    /* Bigger buttons and font */
    #choice-buttons button {
        width: 160px;
        font-size: 1.5rem;;
    }

    .player-side p, .computer-side p {
        font-size: 3.5vw;
    }

    #player-choice p, #computer-choice p {
        font-size: 2rem;
    }

    .player-stats p {
        font-size: 1.5rem;
    }
}

/* Desktop + Laptop Sizes */

@media only screen and (min-width: 1000px) {
    /* Bigger font */
    .choice p {
        font-size: 2rem;
    }
    
    #choice-buttons {
        max-width: 700px;
        margin: 0 auto;
    }

    #result {
        max-width: 1000px;
        margin: 0 auto;
    }

    .player-side p, .computer-side p {
        font-size: 2rem;
    }

    #player-choice p, #computer-choice p {
        font-size: 2rem;
    }

    /* Limit space between stats */
    .player-stats {
        max-width: 800px;
        margin: 0 auto;
    }
}
